@font-face {
   font-family: 'ZaoZiGongFangLingTi-2';
   font-display: swap;
   src: url('file:///C:/Users/User/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-03-31_172116/fonts/ZaoZiGongFangLingTi-2/font.ttf');
}
